@use "./variables/global";
@use "./reset.css";
@use "./themes/light_theme";
@use "./themes/dark_theme";
@use "./themes/default_colors";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.App {
    font: var(--font-paragraph-16-Regular);
    background-color: var(--bg-color);
    color: var(--text-color);

    min-height: 100%;
    width: 100%;
    overflow: hidden;

    height: 100vh;
}
