.TaskWrapper {
    width: 100%;
    height: fit-content;
    padding: 10px 15px;

    border-radius: 6px;

    background-color: var(--task-bg-color);
    color: var(--text-color);
    font: var(--font-paragraph-14-Regular);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;

    transition: background-color .2s ease;
    cursor: pointer;

    &:hover {
        background-color: var(--task-bg-color-hover);
    }

    &.taskEditActive {
        height: 127px;
    }
}

.TaskTopLine {
    display: flex;
    min-height: 26px;
    height: fit-content;
    justify-content: space-between;
    align-items: start;
    position: relative;
}

.TaskUniqueTitle {
    font: var(--font-paragraph-12-Regular);
    color: var(--task-unique-title-text-color);
}

.TaskBottomLine {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Priority {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
}

.TaskBottomLineRightSide {
    display: flex;
    align-items: center;
    gap: 3px;
}

.AvatarIcon {
    border-radius: 6px;
    width: 20px;
    height: 20px;
}