.BoardsPageContent {
    padding: 30px;
    height: 100%;
}

.TopLine {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    align-items: center;
    gap: 15px;
}

.TableHeading {
}

.NoDataContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.NoData {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.BoardCards {
    display: flex;
    align-items: stretch;
    gap: 20px;
    flex-wrap: wrap;
}


@media (max-width: 768px) {
    .BoardsPageContent {
        padding: 20px 20px;
    }

    .TableHeading {
        //max-width: 200px;
        max-height: 63px;
        overflow: hidden;
    }
}

@media (max-width: 500px) {
    .BoardsPageContent {
        padding: 10px 10px;
    }
}

@media (max-width: 439px) {
    .BoardCards {
        gap: 15px;
    }
}

