.CommentsContent {
    min-height: 149px;
}

.CommentsTitle {
    margin-top: 20px;
}

.CommentContainer {
    flex-direction: column;
    display: flex;
    gap: 15px;
    margin-top: 20px;

    &.EmptyCommentsContainer {
        margin-top: 10px;
    }
}

.EmptyComments {
    font: var(--font-paragraph-14-Regular)
}

.SkeletonWrapper {
    display: flex;
    gap: 10px;

    .SkeletonWrapperBottomLine {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}