.BoardTabContent {

}

.isMobile {
    --anchor-gap: 11px;
    z-index: 9999;
    width: calc(100% - 32px);
}

.BoardsWrapper {
    background-color: var(--popup-bg);
    color: var(--text-color);
    border-radius: 6px;
    //width: 240px;

    width: fit-content;
    min-width: 240px;
    max-width: 450px;

    &.isMobileWrapper {
        width: 100%;
        max-width: 1000px;
    }
}

.BoardTabTopLine {
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.AllBoardsLink {
    font: var(--font-paragraph-12-Regular);
    text-decoration: underline;
    color: var(--purple-color-active);
}

.BoardHeader {
    display: inline-block;
    font: var(--font-paragraph-14-Regular);
    max-width: 300px;
}

.BoardsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.BoardItem {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 6px;

    &:hover {
        background-color: var(--popup-field-hover-bg-darker);
    }

    &.ActiveBoard {
        background-color: var(--popup-field-active-bg);
        color: var(--purple-color-active);

        svg rect {
            stroke: var(--purple-color-active);
        }
    }
}

.BoardIcon {
    height: 24px;
    width: 24px;
}

.NotFoundedTitle {
    padding: 5px 12px;
}
