.BoardTabContent {

}

.BoardsWrapper {
    background-color: var(--popup-bg);
    color: var(--text-color);
    border-radius: 6px;
    width: 240px;
}

.BoardTabTopLine {
    width: 100%;
    padding: 15px 15px;
    display: flex;
    justify-content: space-between;
}

.AllBoardsLink {
    font: var(--font-paragraph-12-Regular);
    text-decoration: underline;
    color: var(--purple-color-active);
}

.BoardHeader {
    display: inline-block;
    font: var(--font-paragraph-14-Regular);
}

.BoardsList {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.BoardItem {
    display: flex;
    align-items: center;
    gap: 0 15px;
    padding: 10px 12px;
    cursor: pointer;
    transition: background-color .3s ease;
    border-radius: 6px;

    &:hover {
        background-color: var(--popup-field-hover-bg-darker);
    }

    &.ActiveBoard {
        background-color: var(--popup-field-active-bg);
        color: var(--purple-color-active);

        svg rect {
            stroke: var(--purple-color-active);
        }
    }
}

.BoardIcon {
    height: 24px;
    width: 24px;
}

.NotFoundedTitle {
    padding: 5px 12px;
}
