.InputWrapper {
    position: relative;
}

.InputLabel {
    display: inline-block;
    margin-bottom: 12px;
    color: var(--text-color);

    &.LabelSmallSize {
        font: var(--font-text-20-Medium)
    }

    &.LabelMediumSize {
        font: var(--font-paragraph-18-Medium)
    }
}

.InputWrapperError {
    min-height: 22px;
    margin-top: 5px;

    &.LabelMessageRedColor {
        color: var(--red-color);
    }

    &.LabelMessageGreenColor {
        color: var(--green-color)
    }
}

.LabelRequired {
    color: var(--red-color);
}

.MessageSmallSize {
    min-height: 18px;
    margin-top: 3px;
    font: var(--font-paragraph-12-Regular);
}