.InputWrapper {
    position: relative;


}

.InputLabel {
    display: inline-block;
    margin-bottom: 12px;
    color: var(--text-color);

    &.LabelSmallSize {
        font: var(--font-text-20-Medium)
    }

    &.LabelMediumSize {
        font: var(--font-paragraph-18-Medium)
    }
}

.InputWrapperError {
    min-height: 22px;
    margin-top: 5px;
    //position: absolute;
    //bottom: -30%;
    //left: 0;

    &.LabelMessageRedColor {
        color: var(--red-color);
    }
}

.LabelRequired {
    color: var(--red-color);
}