.InputWrapper {
    position: relative;
}

.ForgotPassword {
    display: flex;
    justify-content: space-between;
}

.ForgotPasswordLink {
    text-decoration: underline;
    color: var(--purple-color-active);
    font: var(--font-paragraph-14-Regular);
}

.InputLabel {
    display: inline-block;
    margin-bottom: 12px;
    color: var(--text-color);

    &.LabelSmallSize {
        margin-bottom: 5px;
        font: var(--font-paragraph-12-Regular)
    }

    &.LabelMediumSize {
        font: var(--font-paragraph-18-Medium)
    }
}

.InputWrapperError {
    min-height: 22px;
    margin-top: 5px;

    &.LabelMessageRedColor {
        color: var(--red-color);
    }

    &.LabelMessageGreenColor {
        color: var(--green-color)
    }
}

.LabelRequired {
    color: var(--red-color);
}

.MessageSmallSize {
    min-height: 18px;
    margin-top: 3px;
    font: var(--font-paragraph-12-Regular);
}