.SendMessageFileWrapper {
    padding: 4px 8px 4px 12px;
    display: flex;
    gap: 7px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    transition: background-color .2s ease;
    border-radius: 6px;

    &:hover {
        background-color: var(--file-bg-color);
    }
}

.IconWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}

.CloseIcon {
    width: 20px;
    height: 20px;
    border-radius: 4px;
    cursor: pointer;
    transform: translateY(1px);



    svg path {
        transition: stroke .2s ease;
    }

    &:hover {
        background-color: var(--file-extension-bg-color);

        svg path {
            stroke: var(--file-extension-text-color);
        }

    }
}