.ProjectUsersTable {}

.ProjectPicker {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ProjectPickerBottomLine {
    margin-bottom: 15px;
    display: flex;
    align-items: end;
    gap: 20px;
}

.ProjectSelect {
    flex-grow: 1;
}

.SelectHeading {
    margin-bottom: 10px;
}