.DropDown {}
.Popover {}

.MenuItems {
    //transform-origin: center;
    //transition: opacity 0.2s ease-out;

    //&[data-closed] {
    //    transform: scale(0.95);
    //    opacity: 0;
    //    }
    &.gap-10 {
        --anchor-gap: 10px;
    }

    &.gap-20 {
        --anchor-gap: 20px;
    }

    &.gap-6 {
        --anchor-gap: 6px;
    }

    min-width: 140px;
    max-width: 200px;
    height: fit-content;

    color: var(--text-color-inverted);
    background-color: var(--popup-bg);
    border: 1px solid var(--popup-border);

    display: flex;
    flex-direction: column;
    border-radius: 6px;
    //padding: 5px 5px;
}

.MenuItem {
    position: relative;
    cursor: pointer;
    width: 100%;
    height: fit-content;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    transition: color 0.2s ease, background-color 0.1s ease;
    border-radius: 6px;
    color: var(--text-color);
    white-space: normal;
    overflow-wrap: normal;
    word-break: normal;
    max-width: 200px;

    &:hover {
        color: var(--purple-color-active);
        background-color: var(--popup-field-hover-bg);
    }

    &.Active {
        background-color: var(--popup-field-active-bg);
    }

    &.ItemLoading::after {
        width: 100%;
        height: 100%;
        position: absolute;
        content: '';
        border-radius: 6px;
        top: 0;
        left: 0;

        // todo add theme supporting for bgc
        background-color: rgba(255, 255, 255, 0.42);
    }
    &.fSize-16 {
        font: var(--font-paragraph-16-Regular);
    }

    &.fSize-14 {
        font: var(--font-paragraph-14-Regular);
    }

    &.fSize-12 {
        font: var(--font-paragraph-12-Regular);
    }
}

.Spinner {
    position: absolute;
    top: 50%;
    transform: translateY(-43%) translateX(-50%);
    left: 50%;

    z-index: 100;
}

// popover

.PopoverContent {
    font: var(--font-paragraph-16-Regular);

    &.gap-10 {
        --anchor-gap: 10px;
    }

    &.gap-20 {
        --anchor-gap: 20px;
    }

    &.gap-6 {
        --anchor-gap: 6px;
    }
}