.EditableTaskPriority {

}

.priorityDisplay {
    font: var(--font-paragraph-14-Regular);
    padding: 0 7px;
    width: fit-content;

    svg {
        width: 20px;
        height: 20px;
    }

    display: flex;
    gap: 6px;
    align-items: center;
    height: 35px;

    position: relative;
    z-index: 10;
    cursor: pointer;
    border-radius: 6px;

    &:hover {
        background-color: var(--smart-outlined-bg-color-hover);
    }
}