.MessageLeftSideMenu {
    flex-shrink: 0;
    width: 400px;
    height: 100%;
    background-color: var(--messages-aside-menu-left-side-bg-color);

    border: 1px solid var(--messages-aside-menu-left-side-border);
}

.MessagesTopLine {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.MessageAddButton {
    background-color: var(--bg-color);
    svg path {
        stroke: var(--text-color);
    }
}

.TopLineHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.MessageCardsWrapper {
    display: flex;
    flex-direction: column;
    overflow: auto;
    max-height: calc(100vh - 150px);
}

.MessagesNotFound {
    width: 100%;
    text-align: center;
}

.HeadingWrapper {
    display: flex;
    gap: 10px;
    align-items: center;
}

.CountOfMessages {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    min-width: 22px;
    height: 22px;
    font: var(--font-paragraph-14-Regular);
    border-radius: 6px;

    background-color: var(--file-extension-bg-color);
    color: var(--file-extension-text-color);
}