.ColumnWrapper {
    width: 300px;
    padding: 15px 15px 10px 15px;
    background-color: var(--column-bg-color);
    flex-shrink: 0;
    border-radius: 6px;
    height: 100%;
    position: relative;
    cursor: pointer;
}

.ColumnTopLine {
    align-items: center;
    justify-content: space-between;
    display: flex;
    padding: 5px 0 4px 0;
    height: 26px;
}

.ColumnTitle {
    display: inline-block;
    font: var(--font-paragraph-12-Regular);
    color: var(--column-text-color);
    text-transform: uppercase;
}

.ColumnTasksCards {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
}

.OverLine {
    display: block;
    height: 2px;
    border-radius: 2px;
    background-color: var(--column-top-line-color);

    margin-top: 6px;
    margin-bottom: 10px;

    &.isOver {
        background-color: var(--purple-color-active);
    }
}

.ColumnOverLine {
    position: absolute;
    content: '';
    display: block;
    height: 100%;
    width: 2px;
    border-radius: 2px;
    background-color: var(--purple-color-active);
    left: -8px;
    top: 0;
}