.EnterNewPasswordForm {
}

.Heading {
    margin-bottom: 10px;
}

.ChangeError {
    color: var(--red-color);
    margin-bottom: 20px;
    display: block;
    text-align: center;
}

.InputWrapper div:nth-child(2) {
    max-width: 100%;
}

.InputWrapper {
    margin-bottom: 10px;
}

.EnterPassFromBottomLine {
    display: flex;
    gap: 0 10px;
    justify-content: space-between;
}

.SubmitButton {
    flex-shrink: 1;
}

