.EditableTaskStatus {}

.NonActiveStatus {
    width: fit-content;
    font: var(--font-paragraph-14-Regular);
    color: var(--text-color-inverted);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    align-items: center;
    padding: 6px 10px;
    max-width: 100%;
    border-radius: 6px;
    justify-content: space-between;
    border: 1px solid var(--smart-outlined-color-border);
    background-color: var(--purple-color);
}