.dark_theme {
    --bg-color: #01020E;
    --bg-color-inverted: #ffff;
    --text-color: #ffffff;
    --text-color-inverted: #01020E;


    // popups
    --popup-bg: #ffff;
    --popup-border: #efeef3;
    --popup-field-color: #ffff;
    --popup-field-active-bg: #EFEDF6;
    --popup-field-hover-bg: #F2F1F4;
}