.dark_theme {
    --bg-color: #01020E;
    --bg-color-inverted: #ffff;
    --text-color: #ffffff;
    --text-color-inverted: #01020E;

    // popups
    --popup-bg: #01020E;
    --popup-border: #020416;
    --popup-field-color: #0D0E17;
    --popup-field-active-bg: #171625;
    --popup-field-hover-bg: #181a2c;
    --popup-field-hover-bg-darker: #0f101a;

    // buttons

    // CreateWithIconBtnFilled
    --create-button-with-icon-bg-color: #0D0E17;
    --create-button-with-icon-bg-color-active-hover: #171926;

    // skeleton
    --main-skeleton-bg-color: #0a0a17;
    --second-skeleton-bg-color: #000011;
}