:root {
    --red-color: #e73130;
    --purple-color: #5030E5;
    --purple-color-light: #a69cd5;
    --purple-color-active: #806be0;
    --purple-color-hover: #f2efff;
    --green-color: #36a91b;

    --scroll-bar-color: rgb(198, 198, 204);
    --scroll-bar-color-hover: rgb(255, 255, 255)
}