.light_theme {
    --bg-color: #ffff;
    --bg-color-inverted: #01020E;
    --text-color: #01020E;
    --text-color-inverted: #ffffff;
    --text-color-middle-dark-purple: #615D6A;
    --text-color-secondary: #5D5D5D;

    // auth
    --auth-text-link-color: #797979;

    // input
    --input-bg-color: #ffff;
    --input-border-color: #E7E7E9;
    --input-placeholder-color: #C8C8C8;
    --input-text-color: #01020E;

    // aside-menu
    --aside--bg-color: #01020E;
    --aside-nav-hover: #13141e;

    // profile-tab
    --profile-tab-avatar: #181926;

    // popups
    --popup-bg: #ffff;
    --popup-border: #efeef3;
    --popup-field-color: #ffff;
    --popup-field-active-bg: #EFEDF6;
    --popup-field-hover-bg: #F2F1F4;

    // tabs
    --tabs-bg: #FFFFFF;
    --tabs-border: #EAEAF4;
    --tabs-active-field: #EFEDF6;
    --tabs-hover-field: #EFEDF6;

    // table
    --table-border-line: #CCCCCC;

    // button (edit for types)
    --button-primary-color-bg: #fff;
    --button-border-color: #f5f1f1;
    --button-active-color: #f3f2f6;

    // modal
    --modal-overlay-color: rgba(0, 0, 0, 0.1);
    --modal-content-color: #ffff;

    // project-tab
    --project-tab-bg-color: #13141e;
    --project-tab-bg-color-hover-active: #171925;

}