.light_theme {
    --bg-color: #ffff;
    --bg-color-inverted: #01020E;
    --text-color: #01020E;
    --text-color-inverted: #ffffff;

    // input
    --input-bg-color: #ffff;
    --input-border-color: #E7E7E9;
    --input-placeholder-color: #C8C8C8;
    --input-text-color: #01020E;

    // aside-menu
    --aside--bg-color: #01020E;
    --aside-nav-hover: #13141e;
}