.light_theme {
    --bg-color: #ffff;
    --bg-color-inverted: #01020E;
    --text-color: #01020E;
    --text-color-inverted: #ffffff;
    --text-color-middle-dark-purple: #615D6A;
    --text-color-secondary: #5D5D5D;

    // auth
    --auth-text-link-color: #797979;

    // input
    --input-bg-color: #ffff;
    --input-border-color: #E7E7E9;
    --message-input-border-color: #EFEEF8;
    --input-placeholder-color: #C8C8C8;
    --input-text-color: #01020E;

    // aside-menu
    --aside--bg-color: #01020E;
    --aside-nav-hover: #13141e;

    // profile-tab
    --profile-tab-avatar: #181926;

    // popups
    --popup-bg: #ffff;
    --popup-border: #efeef3;
    --popup-field-color: #ffff;
    --popup-field-active-bg: #EFEDF6;
    --popup-field-hover-bg: #f8f5ff;

    // tabs
    --tabs-bg: #FFFFFF;
    --tabs-border: #EAEAF4;
    --tabs-active-field: #EFEDF6;
    --tabs-hover-field: #EFEDF6;

    // table
    --table-border-line: #CCCCCC;
    --table-header-bg-color: #f4f1ff;
    --table-header-bg-color-hover: #f7f5ff;
    --table-border-color: #eaeaf5;

    // button (edit for types)
    --button-primary-color-bg: #fff;
    --button-border-color: #f5f1f1;
    --button-active-color: #f3f2f6;
    --smart-outlined-color-border: #EAEAEA;
    --smart-outlined-bg-color: #fff;
    --smart-outlined-bg-color-hover: #f2f0f5;

    // modal
    --modal-overlay-color: rgba(0, 0, 0, 0.1);
    --modal-content-color: #ffff;

    // project-tab
    --project-tab-bg-color: #13141e;
    --project-tab-bg-color-hover-active: #171925;


    // column
    --column-text-color: #747684;
    --column-bg-color: #F4F1FF;
    --column-create-task-button-color: #f1eeff;
    --column-create-task-button-hover-color: #f1eeff;
    --column-button-primary-color: #E2DFF6;
    --column-button-primary-color-hover: #dbd6f3;
    --column-button-content-primary-color: #787486;
    --column-top-line-color: #EBE8F9;
    --column-edit-area-bg-color-hover: #ebe8ff;
    --column-edit-area-bg-color: #E2DFF6;

    // task
    --task-bg-color: #EBE8F9;
    --task-bg-color-hover: #EFEDFF;
    --task-unique-title-text-color: #747684;
    --task-edit-area-bg-color: #E2DFF6;
    --task-edit-area-bg-color-hover: #ebe8ff;

    // selectMenu
    --select-bg-color: rgb(245, 245, 245);
    --select-hover-bg-color: #f1eeff;

    // comments
    --comment-text-area-bg-color: #ffff;
    --comment-text-area-border-color: #eaeaea;

    // messages
    --messages-aside-menu-left-side-bg-color: #F6F4F8;
    --messages-aside-menu-left-side-border: #EFEFEF;
    --messages-card-bg-color: #F9F8FF;
    --messages-card-bg-color-hover: #ffff;

    // ExpandButton
    --expand-btn-bg-color: #EEEDF8;
    --expand-btn-bg-color-active: #e6e5f1;
    --expand-btn-color: #787486;

    // checkbox
    --checkbox-border-color: #E2DFF6;
    --checkbox-border-color-hover: #ebe8ff;
    --checkbox-bg-color: #ffff;
    --checkbox-bg-color-active: #E2DFF6;

    // multiSelect
    --multi-select-border-color: #f1f1f1;

    // filter count of selected values
    --selected-values-bg-color: #E2DFF6;
    --selected-values-color: #787486;

    // files
    --file-extension-bg-color: #E2DFF6;
    --file-extension-text-color: #787486;
    --file-bg-color: #F2F0F9;

    // skeleton
    --main-skeleton-bg-color: #eeeeee;
    --second-skeleton-bg-color: #eaeaea;
}