.AgileBoard {
    height: calc(100% - 60px);
    overflow: auto;

    max-width: calc(100vw - 210px - 60px);

    &.isCollapsed {
        max-width: calc(100vw - 66px - 60px);
    }
}

.AgileBoardWrapper {
    display: flex;
    gap: 0 15px;
    padding: 0 8px;
}

.Overlay {
    opacity: 0.8;

    &:hover {
        background-color: var(--task-bg-color);
    }
}

.IsActiveOffset {
    margin-top: 10px;
}

.AgileSkeletonColumns {
    display: flex;
    gap: 15px;
}

@media (max-width: 768px) {
    .AgileBoard {
        height: calc(100dvh - 130px);
        max-width: calc(100% - 10px);
    }
}