.AgileBoard {
    height: calc(100% - 60px);
    overflow: auto;

    // TODO FIX FOR COLLAPSED ASIDE
    max-width: calc(100vw - 210px - 60px);
}

.AgileBoardWrapper {
    display: flex;
    gap: 0 15px;
    padding: 0 8px;
}

.Overlay {
    opacity: 0.8;

    &:hover {
        background-color: var(--task-bg-color);
    }
}

.IsActiveOffset {
    margin-top: 10px;
}