.MobileMenuWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    &.MenuIsOpen {
        height: 100%;
    }
}

.TopBar {
    background-color: var(--aside--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 25px;

    .CloseMessageIcon {
        background-color: transparent;

        svg path {
            stroke: var(--text-color-inverted);
        }
    }
}

.Logo {
    height: 29px;
    display: flex;
    align-items: center;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
    border: none;
    padding: 0;
    cursor: pointer;
}

.line {
    display: block;
    height: 2px;
    background-color: var(--bg-color);
    border-radius: 2px;
    transition: all 0.3s ease;
}

.open .line:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.open .line:nth-child(2) {
    opacity: 0;
}

.open .line:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.MenuContent {
    background-color: var(--aside--bg-color);
    position: relative;
    //display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;
    padding: 10px 16px;
    height: 100%;
    display: none;
    //bottom: 100vh;

    &.MenuIsOpen {
        display: flex;
        //bottom: 0
    }
}

.MenuItem {
    cursor: pointer;
    width: 100%;
    height: 44px;
    padding: 10px 9px;
    border-radius: 6px;
    color: var(--text-color-inverted);
    display: flex;
    align-items: center;
    gap: 0 12px;

    &:hover {
        background-color: var(--aside-nav-hover);

        svg {
            path, rect {
                stroke: var(--purple-color-active);

            }
        }
    }

    &.ActiveTab {
        background-color: var(--aside-nav-hover);

        svg {
            path, rect {
                stroke: var(--purple-color-active);

            }
        }
    }
}

.IconWrapper {
    width: 26px;
    height: 26px;
    svg {
        width: inherit;
        height: inherit;

        //transition: all .2s ease;

        path, rect {
            transition: stroke .2s ease;
        }
    }
}


.Disabled {
    pointer-events: none;
    opacity: 0.5;
}

@media (max-width: 768px) {
    .TopBar {
        padding: 10px 20px;
    }
}

@media (max-width: 500px) {
    .TopBar {
        padding: 10px 15px;
    }
}
