.LoginForm {
    width: 600px;
    margin: auto auto;
    padding: 20px;
}

.Input {
    margin-bottom: 13px;
}

.Heading {
    position: relative;
    .HeadingText {
        margin-bottom: 80px;
    }

    .HeadingError {
        width: max-content;
        color: var(--red-color);
        position: absolute;
        bottom: -25px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.BottomFormContent {
    margin-top: 20px;
    display: flex;
    gap: 0 8px;
    justify-content: center;
}

.BottomLineText {
    color: var(--auth-text-link-color);
}

.BottomLineLink {
    color: var(--purple-color);
    font: var(--font-paragraph-18-Medium);
    transition: color .2s ease;

    &:hover {
        color: var(--purple-color-active);
    }
}