.MainLayout {
    height: 100%;
    display: flex;

    .MainContent {
        width: calc(100% - 210px);
        &.isCollapsed {
            width: calc(100% - 66px);
        }
    }
}

.AsideMenu {

}



.MobileLayout {
    display: flex;
    flex-direction: column;
}