.EditableColumnTitle {
    width: 100%;
    border-radius: 4px;
    position: relative;

    &::before {
        border-radius: 4px;
        position: absolute;
        width: 96%;
        height: 105%;
        content: "";
        background-color: var(--column-edit-area-bg-color-hover);
        top: 0;
        left: 0;
        transition: opacity 0.2s ease;
        opacity: 0;
    }

    &:hover::before {
        opacity: 1;
    }

    &.isActiveEditableArea::before {
        background-color: transparent;
    }

    &.EditIsNotPossible {
        cursor: auto;

        &::before {
            background-color: transparent;
        }
    }
}

.isActiveEditableArea {
    //position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% + 20px);
    height: calc(100% + 10px);
    z-index: 100;
}

.ColumnTitleWrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    padding: 2px 4px;
}

.ColumnTitle {
    display: block;
    word-break: break-word;
    font: var(--font-heading-16-Bold);
}

.EditableArea {
    position: relative;
    width: 100%;
}

.Input {
    resize: none;
    font: var(--font-paragraph-14-Regular);
    padding: 4px 8px;
    width: 100%;
    border-radius: 6px;
    background-color: var(--column-edit-area-bg-color);
    transition: background-color 0.2s ease;
    height: 34px;

    &:hover {
        background-color: var(--column-edit-area-bg-color-hover);
    }
}

.EditableAreaBottomLine {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
    bottom: -34px;
}

.CorrectButton,
.CloseButton {
    background-color: var(--column-button-primary-color);

    svg path {
        stroke: var(--column-button-content-primary-color);
    }

    &:hover {
        background-color: var(--column-button-primary-color-hover);
    }
}
