.ProfileTabButton {
    height: 44px;
    width: 100%;
    border-radius: 6px;
    background-color: transparent;

    &:hover {
        background-color: var(--aside-nav-hover);
    }

    display: flex;
    padding: 7px 9px;
    gap: 0 10px;
    align-items: center;

    &.Collapsed {
        justify-content: center;
        padding: 7px 7px;
    }
}

.ProfileTabAvatar {
    height: 24px;
    width: 24px;
    border-radius: 20px;
    background-color: var(--profile-tab-avatar);
}

.Avatar {
    object-fit: cover;
    height: 24px;
    width: 24px;
    border-radius: 20px;
    background-size: cover;
}

.ProfileTabTest {
    overflow: hidden;
    color: var(--text-color-inverted);

    &.Collapsed {
        font: var(--font-paragraph-14-Regular);
    }
}