.messageFileWrapper {
    display: flex;
    transition: background-color .2s ease;
    background-color: transparent;
    width: fit-content;
    padding-right: 12px;
    gap: 12px;
    align-content: center;
    border-radius: 6px;
    max-width: 100%;

    &:hover {
        background-color: var(--file-bg-color);
    }

}

.fileType {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--file-extension-bg-color);
    border-radius: 6px;
    color: var(--file-extension-text-color);
    font: var(--font-paragraph-12-Regular);
    flex-shrink: 0;
}

.FileName {
    font: var(--font-paragraph-16-Regular);
    align-content: center;
    text-overflow: ellipsis;
}