.RegisterForm {
    width: 600px;
    padding: 20px;
}

.RegisterFormHeading {
    margin-bottom: 50px;
}

.HeadingTitle {
    margin-bottom: 10px;
}

.HeadingError {
    color: var(--red-color);
    margin-bottom: 50px;
}

.RegisterField {
    margin-bottom: 13px;

    &:last-of-type {
        margin-bottom: 40px;
    }
}

.RegisterFieldFlex {
    display: flex;
    margin-bottom: 13px;
    gap: 0 20px;
    flex-wrap: wrap;
}

.RegisterTopLineField {
    flex-grow: 1;
}

.BottomFormContent {
    margin-top: 20px;
    display: flex;
    gap: 0 8px;
    justify-content: center;
}

.BottomLineText {
    color: var(--auth-text-link-color);
}

.BottomLineLink {
    color: var(--purple-color);
    font: var(--font-paragraph-18-Medium);
    transition: color .2s ease;

    &:hover {
        color: var(--purple-color-active);
    }
}

@media (max-height: 700px) {
    .RegisterForm {
        height: 100%;
    }
}

@media (max-width: 600px) {
    .RegisterForm {
        height: 100%;
    }
}