.RegisterForm {
    width: 600px;
}

.RegisterFormHeading {
    margin-bottom: 80px;
}

.RegisterField {
    margin-bottom: 40px;
}

.RegisterFieldFlex {
    display: flex;
    margin-bottom: 40px;
    gap: 0 20px;
}