.RegisterForm {
    width: 600px;
}

.RegisterFormHeading {
    margin-bottom: 80px;
}

.RegisterField {
    margin-bottom: 13px;

    &:last-of-type {
        margin-bottom: 40px;
    }
}

.RegisterFieldFlex {
    display: flex;
    margin-bottom: 13px;
    gap: 0 20px;
}