table, td, th {
    border-collapse: collapse
}

.Table {
    width: 100%;
}

.TableHead {
    border-bottom: 1px solid var(--table-border-line);
}

.TableHeader {
    text-align: start;
    font: var(--font-paragraph-14-Regular);
    padding: 10px 0;
}

.TableData {
    text-align: start;
    padding: 10px 0 10px 0;
    font: var(--font-paragraph-14-Regular);
}

.AlignDataCenter {
    width: 100%;
    display: flex;
    justify-content: center;
}

.AlignDataLeft {
    width: 100%;
    display: flex;
    justify-content: left;
}

.AlignDataRight {
    width: 100%;
    display: flex;
    justify-content: right;
}