table, td, th {
    border-collapse: collapse
}

.Table {
    width: 100%;
}

.TableHead {
    border-bottom: 1px solid var(--table-border-line);
}

.TableHeader {
    text-align: start;
    font: var(--font-paragraph-14-Regular);
    padding: 10px 0;
}

.TableData {
    text-align: start;
    padding: 10px 10px 10px 0;
}