.CalendarPopover {}

.CalendarInput {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 130px;
    height: 30px;
    border-radius: 6px;
    background-color: var(--input-bg-color);
    border: 1px solid var(--input-border-color);
    padding: 0 8px;
    font: var(--font-paragraph-14-Regular);

    &.FullWidth {
        width: 100%;
    }
}

