.Tabs {

}

.TabsListWrapper {
    width: max-content;
    background-color: var(--tabs-bg);
    padding: 3px;
    border: 1px solid var(--tabs-border);
    height: 46px;
    display: flex;
    gap: 0 5px;
    border-radius: 12px;
    margin-bottom: 30px;
}

.Tab {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    transition: color .2s ease, background-color .2s ease;
    color: var(--text-color-middle-dark-purple);
    border-radius: 9px;
    background-color: var(--tabs-bg);
    font: var(--font-paragraph-14-Regular);

    &[data-selected] {
        background-color: var(--tabs-active-field);
        color: var(--purple-color-active);
    }

    &:hover {
        background-color: var(--tabs-hover-field);
        color: var(--purple-color-active);
    }
}

.SmartTabs {
    .TabsListWrapper {
        height: 36px;
        padding: 0;
        border-radius: 6px;
        gap: 3px;
        margin-bottom: 10px;
    }

    .Tab {
        border-radius: 5px;
        padding: 0 15px;
        font: var(--font-paragraph-14-Regular);
    }
}