.SettingsContent {
    padding: 30px 40px;
}

.Heading {
    margin-bottom: 25px;
}

@media (max-width: 768px) {
    .SettingsContent {
        padding: 20px;
    }

    .SettingsTabs {
        max-width: 100%;
        white-space: nowrap;
        overflow: auto;
    }
}

@media (max-width: 500px) {
    .SettingsContent {
        padding: 10px;
    }
}
