.TaskInfoContent {
    min-height: 500px;
    max-height: 90vh;
    width: fit-content;
    display: flex;
    align-items: start;
    gap: 30px;
    overflow: hidden;
}

.TaskInfoLeftSide {
    padding-right: 10px;
    max-height: 95vh;
    min-width: 300px;
    flex-shrink: 1;
    width: 550px;
    overflow-y: auto;
    overflow-x: hidden;
}

.editableTitleWrapper {
    position: relative;
    width: 100%;
}

.EditableTitle {
    margin-bottom: 20px;
}

.ExtraAddButton {
    margin-bottom: 20px;
}

.TaskChildrenWrapper {
    margin-top: 20px;
}

.FieldName {
    margin-bottom: 10px;
}

.SubTasks {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.SubTaskLine {
    width: 100%;
    height: 1px;
    background-color: var(--smart-outlined-color-border);
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.Subtask {
    width: 100%;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 5px 5px;
    border-radius: 6px;

    &:hover {
        background-color: #efefef;
    }
}

.SubTaskUniqueTitle {
    text-transform: uppercase;
    font: var(--font-paragraph-14-Regular);
    color: var(--purple-color);
}

.SubTaskTitle {
    font: var(--font-paragraph-14-Regular);
    color: var(--purple-color-active);
}

.PrevButton {
    margin-bottom: 15px;
    background-color: var(--smart-outlined-bg-color);
    border: 1px solid var(--smart-outlined-color-border);

    &:hover {
        background-color: var(--smart-outlined-bg-color-hover);
    }
}

.TaskDetails {
    display: flex;
    max-width: 350px;
    width: fit-content;
    gap: 10px;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}

.TaskDetailOption {
    height: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.DetailsTaskOptionsContent {
    width: 200px;
}

.TaskDetailsLabel {
    display: block;
    width: 100px;
    font: var(--font-paragraph-14-Regular);
    color: var(--text-color-secondary);
    flex-shrink: 0;

}

.CustomDropDown {
    min-width: 100px;
}

.HiddenInput {
    display: none;
}

.Item {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    svg path {
        transition: stroke .2s ease;
    }

    &.SubTaskIcon:hover {
        svg path {
            fill: var(--purple-color);
        }
    }

    &.ClipPaperIcon:hover {
        svg path {
            stroke: var(--purple-color);
        }
    }
}

.TaskFiles {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

